/* Variables */

:root {
    /* Colors */
    --white: #fff;
    --black: #171717;
    --grey: #7D7D7D;
    --light-grey: #ccc;
    --yellow: rgb(212, 160, 62);
    --light-yellow: rgb(251 189 73);

    --dark-red: #8C0F31;
    --light-red: #F24141;
    --dark-blue: #0455BF;
    --blue: #0597F2;
    --light-blue: #05AFF2;

    /* Fonts */
    --zen-dots-font: 'Zen Dots', cursive;
    --dosis-font: 'Dosis', sans-serif;

    /* Sizes */
    --max-width: 1440px;
    --header-height: 64px;

    /* Other */
    --white-text-shadow: 0 0 .2em rgba(0, 0, 0, .5);
    --box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
        0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
}

/* END Variables */

/* Basic Styles */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: var(--zen-dots-font);
    background-color: var(--grey);
    background-image: url(../images/Sound-Background.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    animation: animatedBackground 40s linear infinite;
}

/* END Basic Styles */

/* General Styles */

.invisible {
    opacity: 0 !important;
    visibility: hidden !important;
}

.content-wrapper {
    max-width: var(--max-width);
    padding: 20px;
    margin: 0 auto;
}

.text-input {
    border-radius: 10px;
    border: 2px solid var(--light-grey);
    background-color: var(--white);
    font-size: 1rem;
    width: 100%;
    padding: 12px;
    transition: border-color .3s;
}

.text-input:focus {
    border-color: var(--black);
    outline: none;
}

.btn,
.btn-large,
.btn-small {
    background-color: var(--yellow);
    font-family: var(--zen-dots-font);
    text-transform: none;
    text-shadow: var(--white-text-shadow);
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: var(--light-yellow);
}

.btn i,
.btn-large i,
.btn-small i {
    vertical-align: middle;
}

@media screen and (max-width: 480px) {
    .content-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* END General Styles */

/* Animations */

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

@keyframes cycle-colors {
    0% {
        border-color: var(--dark-red);
    }
    25% {
        border-color: var(--dark-blue);
    }
    50% {
        border-color: var(--light-blue);
    }
    75% {
        border-color: var(--light-red);
    }
    100% {
        border-color: var(--blue);
    }
}

@keyframes pulse {
    to {
        opacity: 1;
        transform: scale(1.2);
    }
}

/* END Animations */

/* Header */

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
    line-height: var(--header-height);
    height: var(--header-height);
}

.navbar-fixed {
    height: var(--header-height);
}

.navbar {
    background-color: var(--yellow);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gamer-art {
    margin-left: 20px;
    animation: pulse 3s infinite;
}

.gamer-art::before,
.gamer-art::after {
    content: ' ';
    border: var(--dark-red) solid 8px;
    border-radius: 50%;
    width: 140%;
    height: 140%;
    opacity: .6 ;
    position: absolute;
    top: -20%;
    left: -20%;
    z-index: 1;
    transform: scale(0.714);
    animation: pulse 2s linear infinite;
}

.gamer-art::after {
    animation-delay: 1s;
}

.gamer-art:hover::before,
.gamer-art:hover::after {
    animation: pulse 0.5s linear infinite,
        cycle-colors 6s linear infinite;
}

.gamer-art img {
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0 auto;
}

.navbar .sidenav-trigger {
    display: block;
    margin: 0;
}

@media screen and (max-width: 375px) {
    .navbar .nav-list a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* END Header */

/* Sidenav */

.sidenav {
    background-color: var(--light-grey);
}

.sidenav .user-view {
    position: relative;
}

.sidenav .user-view .background {
    background-color: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.sidenav .user-view .background video {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sidenav-body {
    padding: 10px;
}

.sidenav-body .title {
    font-size: 1rem;
    margin: 0 0 1rem 0;
}

.pairs-list {
    list-style: none;
    margin: 0;
}

.pairs-list .pair-item {
    color: var(--white);
    background-color: var(--black);
    padding: 0 .5rem;
    margin: 0 0 2px 0;
    cursor: pointer;
    transition: background-color .3s;
}

.pairs-list .pair-item:hover,
.pairs-list .pair-item:focus {
    background-color: var(--yellow);
}

/* END Sidenav */

/* Search Section */

.search-section {
    max-width: 850px;
    padding-top: 80px;
    margin: 0 auto;
}

.search-section .site-title {
    color: var(--black);
    font-size: 6.25rem;
    text-shadow: 0 0 2rem rgba(255, 255, 255, .25);
}

.search-section .mission {
    color: var(--white);
    font: bold 1.5rem var(--dosis-font);
    text-shadow: var(--white-text-shadow);
}

.search-section .search-input-wrap {
    position: relative;
}

.search-section .search-input-wrap::before {
    content: '';
    background-image: url('../images/gamepad.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10px;
}

.search-section .search-input {
    padding-left: 50px;
}

.search-section .noresults-message {
    color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: var(--light-red);
    font: bold 1.2rem/1 var(--dosis-font);
    text-shadow: var(--white-text-shadow);
    padding: .5rem .8rem;
    margin: .5rem 0;
}

@media screen and (max-width: 767px) {
    .search-section .site-title {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 375px) {
    .search-section .site-title {
        font-size: 2.5rem;
    }

    .search-section .mission {
        font-size: 1rem;
    }
}

/* END Search Section */

/* Games Section */

.games-section {
    width: 100%;
    margin: 0 auto;
}

.games-section .subtitle {
    color: var(--white);
    font: bold 1.5rem var(--dosis-font);
    text-shadow: var(--white-text-shadow);
}

.games-section .games-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.games-list .game-item {
    color: var(--white);
    box-shadow: var(--box-shadow);
    background-color: var(--black);
    width: calc(25% - 30px);
    padding: 15px;
    margin: 0 15px 30px;
    cursor: pointer;
    transition: background-color .3s;
}

.games-list .game-item:hover,
.games-list .game-item:focus {
    background-color: var(--yellow);
}

.games-list .game-img {
    border: 1px solid var(--light-grey);
    background-color: var(--white);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 0;
    padding: 0 0 100%;
    margin-bottom: 15px;
    overflow: hidden;
}

.games-list .game-name {
    font-size: 1.4rem;
    text-shadow: var(--white-text-shadow);
    margin: 0 0 .5rem 0;
}

.games-list .release-year {
    font-size: 1.2rem;
    font-family: var(--dosis-font);
    font-weight: bold;
    text-shadow: var(--white-text-shadow);
    opacity: .75;
}

@media screen and (max-width: 1280px) {
    .games-list .game-item {
        width: calc(33.33% - 30px);
    }
}

@media screen and (max-width: 767px) {
    .games-list .game-item {
        width: calc(50% - 30px);
    }
}

@media screen and (max-width: 480px) {
    .games-section .title {
        font-size: 2.5rem;
    }

    .games-section .games-list {
        margin-left: 0;
        margin-right: 0;
    }

    .games-list .game-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 375px) {
    .games-section .subtitle {
        font-size: 1rem;
    }
}

/* END Games Section */

/* Result Section */

.result-section {
    padding: 40px 0;
}

.videogame-container {
    --btn-cont-width: 160px;
    --game-img-width: 300px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    color: var(--white);
    box-shadow: var(--box-shadow);
    background-color: var(--black);
    padding: 15px;
    margin-bottom: 30px;
}

.videogame-container .btn-container {
    display: flex;
    flex-wrap: wrap;
    width: var(--btn-cont-width);
}

.videogame-container .btn-container .btn {
    width: 100%;
    margin: 0 0 10px 0;
}

.videogame-container .game-result-card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: calc(100% - var(--btn-cont-width));
}

.game-result-card .game-image {
    border: 1px solid var(--light-grey);
    width: var(--game-img-width);
}

.game-result-card .game-image img {
    display: block;
    width: 100%;
}

.game-result-card .game-name {
    font-size: 2rem;
    margin: 0 0 15px 0;
}

.game-result-card .game-info {
    width: calc(100% - var(--game-img-width));
    padding: 0 15px;
}

.game-info .info-item {
    font-family: var(--dosis-font);
    font-size: 1.2rem;
    margin: 0 0 5px 0;
}

.game-info .label {
    font-family: var(--zen-dots-font);
    font-size: 1rem;
    margin-right: 5px;
    opacity: .75;
}

.game-info .game-desc {
    margin-bottom: 15px;
}

.playlist-container .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.playlist-container .toolbar .title {
    color: var(--white);
    font-size: 1.5rem;
    text-shadow: var(--white-text-shadow);
    margin: 16px 0;
}

.tracks-list .track-item {
    --track-item-indent: 15px;
    --track-thumb-size: 64px;
    --track-thumb-indent: 15px;
    color: var(--white);
    margin: 0 0 4px 0;
    position: relative;
    transition: background-color .3s;
}

.track-item .track-preview-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-shadow: var(--white-text-shadow);
    width: var(--track-thumb-size);
    height: var(--track-thumb-size);
    padding: 0;
    position: absolute;
    top: var(--track-item-indent);
    right: 0;
    z-index: 2;
    cursor: pointer;
    transition: color .3s;
}

.track-item .track-preview-btn:hover {
    color: var(--yellow);
    background-color: transparent;
}

.track-item .track-preview-btn i {
    font-size: 2.5rem;
    position: relative;
    z-index: 2;
}

.track-item .track-preview-btn.playing .play-icon,
.track-item .track-preview-btn:not(.playing) .pause-icon {
    display: none;
}

.track-item > a {
    display: flex;
    align-items: flex-start;
    color: inherit;
    box-shadow: var(--box-shadow);
    background-color: var(--black);
    text-shadow: var(--white-text-shadow);
    padding: var(--track-item-indent)
        var(--track-thumb-size)
        var(--track-item-indent)
        var(--track-item-indent);
}

.track-item > a:hover {
    background-color: var(--yellow);
}

.track-item .thumb {
    border: 1px solid var(--light-grey);
    width: var(--track-thumb-size);
    margin-right: var(--track-thumb-indent);
}

.track-item .thumb img {
    display: block;
    width: 100%;
}

.track-item p {
    margin: 0;
}

.track-item .track-info {
    width: calc(100% - var(--track-thumb-size) - var(--track-thumb-indent));
}

.track-item .track-name {
    font-size: 1.6rem;
    line-height: 1;
}

.track-item .about-track {
    font-family: var(--dosis-font);
    font-size: 1.2rem;
}

.track-item .about-track .artists {
    display: inline-block;
    font-weight: bold;
    width: 100%;
}

.track-item .about-track .album,
.track-item .about-track .separator,
.track-item .about-track .release-year {
    opacity: .75;
}

@media screen and (max-width: 992px) {
    .videogame-container .btn-container,
    .videogame-container .game-result-card {
        width: 100%;
    }

    .videogame-container .game-result-card {
        margin-bottom: 30px;
    }

    .videogame-container .btn-container {
        justify-content: space-between;
    }

    .videogame-container .btn-container .btn {
        width: 48%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .videogame-container .btn-container .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .game-result-card .game-image {
        width: 35%;
    }

    .game-result-card .game-info {
        width: 65%;
    }

    .playlist-container .toolbar {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .playlist-container .toolbar .title,
    .playlist-container .toolbar .shuffle-btn {
        width: 100%;
    }

    .playlist-container .toolbar .title {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    .result-section {
        padding: 20px 0;
    }

    .game-result-card .game-image,
    .game-result-card .game-info {
        width: 100%;
    }

    .game-result-card .game-image {
        margin-bottom: 30px;
    }

    .game-result-card .game-info {
        padding: 0;
    }

    .game-result-card .game-name {
        font-size: 1.5rem;
    }

    .track-item .track-name {
        font-size: 1rem;
    }

    .track-item .about-track {
        font-size: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .tracks-list .track-item {
        --track-item-indent: 10px;
        --track-thumb-size: 32px;
        --track-thumb-indent: 10px;
    }

    .track-item .track-preview-btn i {
        font-size: 2rem;
    }
}

/* END Result Section */

/* About us Section */

.about-us-section {
    height: 100vh;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.about-title {
    font-size: 2rem;
    color: var(--yellow);
    margin-bottom: 0em;
    text-align: center;
}

.about-text {
    text-align: center;
    font-family: var(--dosis-font);
    font-size: 1.2rem;
}

.about-list {
    text-align: center;
    font-family: var(--dosis-font);
    font-size: 1.2rem;
}

.bold-about {
    font-weight: 700;
}

.m-small {
    padding: 0em;
}


