/* Variables */
:root {
    /* Colors */
    --white: #fff;
    --black: #171717;
    --dark-red: #8C0F31;
    --light-red: #F24141;
    --dark-blue: #0455BF;
    --blue: #0597F2;
    --light-blue: #05AFF2;
    --grey: #7D7D7D;
    --yellow: rgb(212, 160, 62);

    /* Sizes */
    --max-width: 1440px;
}
/* END Variables */

.invisible {
    opacity: 0 !important;
    visibility: hidden !important;
}

body {
    font-family: 'Zen Dots', cursive;
    background: rgba(0,0,0,.5);
    background-image: url(../images/Sound-Background.png);
    background-size: auto;
    animation: animatedBackground 40s linear infinite;
}

/* Animation for background image */
@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

/* Sidenav */

.sidenav-trigger {
    cursor: pointer;
}

.sidenav {
    background-color: var(--grey);
}

.sidenav-body {
    padding: 10px;
}

.sidenav-body .title {
    font-size: 1rem;
    margin: 0 0 1rem 0;
}

.pairs-list {
    list-style: none;
    margin: 0;
}

.pairs-list .pair-item {
    color: var(--white);
    background-color: var(--yellow);
    padding: 0 .5rem;
    margin: 0 0 2px 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.pairs-list .pair-item::before {
    content: '';
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.pairs-list .pair-item:hover::before,
.pairs-list .pair-item:focus::before {
    background-color: rgba(0, 0, 0, .1);
}

/* END Sidenav */

.nav-wrapper {
    background: rgb(212, 160, 62)
}

.gamer-art img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 60px;
    width: 60px;
    padding-top: 5px;
}

.gamer-art {
    animation: pulse 3s infinite;
    margin: 0 auto;
    display: table;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

/* Beginning of animations for gamer-art */
@keyframes cycle-colors {
    0% { border-color: var(--dark-red)(0, 100%, 50%); }
    25% { border-color: var(--dark-blue)(90, 100%, 50%); }
    50% { border-color: var(--light-blue)(180, 100%, 50%); }
    75% { border-color: var(--light-red)(270, 100%, 50%); }
    100% { border-color: var(--blue)(360, 100%, 50%); }
}
  
@keyframes pulse {
    to {
      opacity: 1;
      transform: scale(1.2);
    }
}
  
.gamer-art::before,
.gamer-art::after {
    animation: pulse 2s linear infinite;
    border: var(--dark-red) solid 8px;
    border-radius: 9999px;
    box-sizing: border-box;
    content: ' ';
    height: 140%;
    left: -20%;
    opacity: .6 ;
    position: absolute;
    top: -20%;
    transform: scale(0.714);
    width: 140%;
    z-index: 1;
}
  
.gamer-art::after {
    animation-delay: 1s;
}
  
.gamer-art:hover::before,
.gamer-art:hover::after {
    animation: pulse 0.5s linear infinite, cycle-colors 6s linear infinite;
}
/* End of animations for gamer-art*/

.site-title {
    color: black;
    text-align: center;
    font-size: 100px;
    font-family: 'Zen Dots', cursive;
}
.mission {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;;
}

form {
    text-align: center;
}

form.search-bar .text-input {
    width: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    background-image: url('//assets/images/gamepad.png'); /* Trying to put a icon into the search bar */
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.save-icon {
    font-size: 70px;
    color: var(--dark-red);
    padding: 20px;
}

.history-icon {
    color: var(--dark-red);
}
/* Sticky footer to be used for later! */

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:var(--blue);
    color: white;
    text-align: center;
}

.footer div {
    color: black;
} */

/* ~~~~~ GAMES PAGE ~~~~~ */

.games-page {
    text-align: center;
    max-width: var(--max-width);
    margin: 0 auto 3rem auto;
}

.games-page .page-title {
    color: var(--dark-red);
}

.games-page .subtitle {
    color: var(--dark-red);
    font-size: 1rem;
    margin: 0 0 1rem 0;
}

.games-page .game-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-list .game-item {
    color: var(--dark-blue);
    border-radius: 1rem;
    background-color: var(--white);
    width: calc(16.66% - 2rem);
    padding: 1rem;
    margin: 0 1rem 2rem 1rem;
    cursor: pointer;
    transition: color .2s ease-in,
        background-color .2s ease-in;
}

.game-list .game-item:hover {
    color: var(--white);
    background-color: var(--light-red);
}

.game-list .game-img {
    border-radius: .5rem;
    width: 100%;
    margin: 0 0 1rem 0;
    overflow: hidden;
}

.game-list .game-img img {
    display: block;
    width: 100%;
}

.game-list .game-name {
    font-size: 1.2rem;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .game-list .game-item {
        width: calc(25% - 2rem);
    }
}

@media screen and (max-width: 767px) {
    .game-list .game-item {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 375px) {
    .game-list .game-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/* ~~~~~ RESULTS PAGE ~~~~~ */

/* .results-page {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2rem;
}

.results-page .result-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.results-page .title {
    font-size: 2rem;
    text-align: center;
    color: var(--white);
    margin: 0 0 1.5rem;
}

.results-page .subtitle {
    font-size: 1rem;
    margin: 0 0 .8rem 0;
    color: var(--white);
}

.results-page .result-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--white);
    width: 100%;
    min-height: 480px;
    padding: 2rem;
    margin: 0 0 1.5rem 0;
}

.results-page .card-title {
    color: var(--blue);
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 1rem 0;
}

.results-page .shuffle-btn {
    color: var(--white);
    border: none;
    background: none;
    width: auto;
    height: auto;
    padding: 0;
    cursor: pointer;
}

.results-page .shuffle-btn:disabled {
    opacity: .5;
    pointer-events: none;
}

.results-page .shuffle-btn:not(:disabled):hover,
.results-page .shuffle-btn:not(:disabled):focus {
    color: var(--dark-blue);
}

.shuffle-btn .shuffle-text {
    display: block;
    margin: 0 0 .5rem 0;
}

/* VIDEOGAME RESULT SECTION */

.game-result-card .game-image {
    width: 9rem;
    margin: 0 auto 2rem auto;
}

.game-result-card .game-image img {
    display: block;
    width: 100%;
}

.game-result-card .game-info-list {
    list-style: none;
    color: var(--blue);
    text-align: center;
    margin: 0 auto;
}

.game-result-card .info-item {
    margin: 0 0 .3rem 0;
}

/* MIDDLE SECTION WITH MSG & SAVE BUTTON */

.results-page .middle-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-page .save-btn {
    width: 30%;
    padding: .4rem 1rem;
    color: var(--white);
    border-color: var(--white);
    border-radius: 1rem;
    background-color: transparent;
    margin-top: .5rem;
    cursor: pointer;
    transition: all .2s ease-in;
}

.results-page .save-btn:hover {
    border-radius: .2rem;
    color: var(--blue);
    background-color: var(--white);
} */

/* MISUC RESULT SECTION */

.music-result-card .tracks-list {
    color: var(--white);
    border-radius: 1rem;
    background-color: var(--dark-blue);
    width: 100%;
    max-height: 380px;
    padding: 1rem;
    margin: 0;
    overflow: auto;
}

.tracks-list .track-item {
    --track-item-top-indent: 1rem;
    --track-item-left-indent: .5rem;
    --track-thumb-size: 64px;
    --track-thumb-indent: .5rem;
    border-bottom: 1px solid;
    position: relative;
}

.tracks-list .track-item:last-child {
    border-bottom: none;
}

.track-item .track-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-shadow: 0 0 .2rem rgba(0, 0, 0, .5);
    width: var(--track-thumb-size);
    height: var(--track-thumb-size);
    position: absolute;
    top: var(--track-item-top-indent);
    left: var(--track-item-left-indent);
    z-index: 2;
    cursor: pointer;
}

.track-item .track-preview::before {
    content: '';
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
}

.track-item .track-preview:hover::before,
.track-item .track-preview:focus::before {
    background-color: var(--light-red);
}

.track-item .track-preview i {
    position: relative;
    z-index: 2;
}

.track-item > a {
    display: flex;
    justify-content: flex-start;
    color: inherit;
    padding: var(--track-item-top-indent) var(--track-item-left-indent);
}

.track-item > a:hover {
    background-color: var(--light-red);
}

.track-item .thumb {
    width: var(--track-thumb-size);
    height: var(--track-thumb-size);
    margin: 0 var(--track-thumb-indent) var(--track-thumb-indent) 0;
}

.track-item .thumb img {
    display: block;
    width: 100%;
}

.track-item p {
    margin: 0;
}

.track-item .track-info {
    width: calc(100% - var(--track-thumb-size) - var(--track-thumb-indent));
}

.track-item .track-name {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: bold;
    margin: 0 0 .2rem 0;
}

.track-item .about-track {
    font-size: .8rem;
}

.track-item .about-track span {
    display: inline-block;
}

.track-item .about-track .artists {
    font-size: 1rem;
    width: 100%;
    margin: 0 0 .5rem 0;
}

.track-item .about-track .album,
.track-item .about-track .separator,
.track-item .about-track .release-year {
    opacity: .75;
}

/* RESULTS PAGE RESTYLING !!!!!!!! */

.game-results-page h2 {
    font-size: 2rem;
    color:var(--white);
}

.result-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.info-item {
    color: var(--white);
    text-align: left;
}

.save-wrapper {
    width: 150px;
} 

.save-wrapper button {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
}

.game-info-list {
    max-width: 50%;
}

.game-name {
    font-size: 1.5rem;
}

.videogame-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.js-genre-name {
    font-size: 2rem;
    color: var(--white);
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



